

body{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
/* Color Rojo del Logo de Apretaditos sacado del Paint del Windows */
text-align: center;
margin: 0%;
}
h1{ font-family: 'Roboto', sans-serif ;
    background-color: #4158D0;
    background-image: linear-gradient(263deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);
    margin-left: 25%; margin-right: 25%;
}
        h2 { background-color: #4158D0;
            background-image: linear-gradient(263deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);
            margin-left: 25%; margin-right: 25%
        }

header{
    background-color: #4158D0;
background-image: linear-gradient(263deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);
;
margin-left: 25%; margin-right: 25%;

    text-align: center;
}
p{
    font-size: 110%;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a:hover
{
    color:#67202D ;
    font-size:1.12em;}
    nav a:active
{
    color:#4ec42a ;
    font-size:1.12em;}